 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

 body{
  font-family: 'Roboto', sans-serif;
  background-color: #ffff;
 }

 .tittleofpage{
  text-align: center;
  background-color: #AB8D60;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  color: #6B583C;
  cursor: default;
 }

 #form-calc h2{
  color: #AB8D60;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  cursor: default;
 }

 .form-toedit{
  text-align: center;
  font-weight: 600;
  color: #D1AC75;
 }

 .form-toedit input{
  border-radius: 20;
  border: 10px default #AB8D60;
 }

  .buttonclass input {
    margin-left: 45%;
    background-color: #AB8D60;
    color: #6B583C;
    border: none;
    padding: 10px 10px 10px;
    border-radius: 20px;
    cursor: pointer;
 }

.buttonclass input:hover {
    margin-left: 45%;
    background-color: #766243;
    color: #54452f;
    border: none;
    padding: 10px 10px 10px;
    border-radius: 20px;
    cursor: pointer;
 }